@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);


body {
    font-family: "Roboto", "Loto";
    margin: 0px;
}



header {
    background-color: #3F51B5;
    flex: 0 0 40px;
    color: white;
    

    /* justify-content: center; */
    padding-top: 10px;
    padding-left: 00px;
    padding-bottom: 20px;

}
header .HaaderText{
    flex: 0 0 40px;
    color: white;
    
    /* justify-content: center; */
    padding-top: 5px;
    padding-left: 40px;
    padding-bottom: 00px;
}

hr {
    background-color: black;
    height: 2px;
    width: 100%;
    border: 0;
}

navBar {
    background-color: #303030;
    flex: 0 0 80px;
    color: white;
    
    justify-content: center;
    padding-left: 100%;
    padding-bottom: 1.1cm;

}


navBar ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

}

navBar ul li{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: inline-flex;
    padding: 0px;
}


navBar a {
    color: white;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: b;
    font-weight: 900;

}
navBar a:hover {
    
    color: #E91E63;
}

.LogoImage{
    transform: scale(1);
    width: 3%;
    display: inline-flex;

    transform:translateY(-8px);
}


figure.BackgroundImageClass {
    position: relative;
    height: 0;
    padding-left: 0;
    padding-bottom: 35%;
    overflow: hidden;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
figure.BackgroundImageClass img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
    transform: scale(1.03);
    width: 100%;

}
figure.BackgroundImageClass figcaption{
    position: absolute;
    font-style: normal;
    padding: 0;
    margin: 0;
    left: 0;
    top: 50%;
    color: white;
    
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    padding: 20px 0;
    border-radius: 10px;

}
figure.BackgroundImageClass figcaption * {
    font-weight: bold;
    font-size: 1.4em;
/*    text-transform: uppercase;*/
    color: white;
    margin: 0;
    padding: 0;
}

.SecondSection article {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

.SecondSection article {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.SecondSection article {
    align-items: center;
}


.content-items-wrapper{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 00px;
}

.content-item-wrapper img{
    height: 225px;
    width: 375px;
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: .25s;

}

.content-item-wrapper img:hover{
    height: 240px;
    width: 390px;
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
/*
    -webkit-filter: blur(3px);
    filter: blur(3px);
  */  
    transform: scale(1.03);
    animation-duration: 1s;

}

.content-item-wrapper{
    position: relative;
}


figure.content-item-wrapper figcaption{
    position: absolute;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: white;
    
    transform: translateY(0%);
    text-align: center;
    width: 375px;
    background-color: rgba(0,0,0,.6);
    padding: 20px 0;
    border-radius: 10px;

    transition: 1s;
    font-weight: 600;
    color: transparent;

    top: 10%; /* Adjust this value to move the positioned div up and down */

}


figure.content-item-wrapper figcaption:hover{
    position: absolute;
    font-style: normal;
    padding: 0;
    margin: 0;
    color: white;
    
    transform: translateY(0%);
    text-align: center;
    width: 390px;
    background-color: rgba(0,0,0,.6);
    padding: 200px 00px;
    border-radius: 10px;
    font-weight: 1000;


}
/*
.image-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}
.image-text-wrapper:hover .subtitle {
    font-weight: 1000;
    color: white;
}

*/
figure.content-item-wrapper figcaption * {
    font-weight: bold;
    font-size: 1.4em;
/*    text-transform: uppercase; *****/
    color: white;
    margin: 0;
    padding: 0;
}



.content-item-wrapper .subtitle {
    transition: .25s;
    font-weight: 600;
    color: transparent;
    top: 10%; /* Adjust this value to move the positioned div up and down */

    text-align: center;

    top: 50px; /* Adjust this value to move the positioned div up and down */

}
.content-item-wrapper:hover .subtitle {
    font-weight: 1000;
    font-size: large;
    color: rgba(0,0,0,.6);
    text-align: center;

    top: 50px; /* Adjust this value to move the positioned div up and down */
    padding: -200    00px;
}

/*Table Desing CSS*/
table.styled {
    width: 100%;
    border-collapse: collapse;
}
table.styled > thead, th {
    background-color: #dfdfdf;
}
table.styled > thead, th {
    text-align: center;
}
table.styled th, table.styled td {
    border: 1px solid lightgray;
    padding: 5px;
}


/*Footer*/

footer {
    display: grid;
    position: relative;

    width: 100%;

    background-color: #202020;
    color: white;
    text-align: center;
}

 .footerHyperlinks{
    position: relative;
    text-align: center;
    text-underline-position: above;
    color: white;

    width: 100%;

    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 00px;

}
.footerHyperlinks a {
    color: white;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: b;
    font-weight: 900;

}
.footerHyperlinks a:hover {
    
    color: #E91E63;
}

/* aboutContent  */

.aboutContent{
    padding: 50px;
    align-items: center;
    font-size: larger;
}
.aboutContent h2{
color: #202020;
}

.aboutContent a{
    color: #E91E63;
}   

.aboutContent p{
    font-size: large;
}